{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>专利创新性检索分析系统</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
</head>

<body >

    <div id="wrapper">
         <nav class="navbar navbar-default top-navbar" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href="index1.html"><i class="large material-icons">insert_chart</i> </a>
				    <div id="sideNav" class="waves-effect waves-dark" href=""><i class="material-icons dp48">toc</i></div>
          </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                        <li id="homepage">
                            <a class="active-menu side_label waves-effect waves-dark" href="#"><i class="fa fa-dashboard"></i> 主页</a>
                        </li>
                        <li id="acquire">
                            <a class="side_label waves-effect waves-dark" href="acquire1.html"><i class="fa fa-desktop"></i> 专利文件获取</a>
                        </li>
                        <li id="input">
                            <a class="waves-effect waves-dark" href="input1.html"><i class="fa fa-edit"></i> 对比分析</a>
                        </li>
                        <li id="download">
                            <a class="side_label waves-effect waves-dark" href="download1.html"><i class="fa fa-qrcode"></i> 查询与导出</a>
                        </li>
                    </ul>
            </div>

        </nav>





        <div id="page-wrapper">
            <div class="header">
				<ol class="breadcrumb">
                    <i class="fa fa-home" ></i>
					<li><a href="#">主页</a></li>
				</ol>
                <h1 class="page-header">欢迎使用专利创新性检索分析系统</h1>
          </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'materialize/js/materialize.min.js' %}"></script>

</body>

</html>