{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>专利创新性检索分析系统</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />

</head>


<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand waves-effect waves-dark" href="index1.html"><i class="large material-icons">insert_chart</i> </a>
                <div id="sideNav" class="waves-effect waves-dark" href=""><i class="material-icons dp48">toc</i></div>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="index1.html" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> 主页</a>
                    </li>
                    <li>
                        <a href="acquire1.html" class="waves-effect waves-dark"><i class="fa fa-desktop"></i> 专利文件获取</a>
                    </li>
                    <li>
                        <a href="input1.html" class="active-menu waves-effect waves-dark"><i class="fa fa-edit"></i> 对比分析 </a>
                    </li>
                    <li>
                        <a href="download1.html" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> 查询与导出</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div class="header">
              <ol class="breadcrumb">
                  <i class="fa fa-home" ></i>
                  <li><a href="#">主页</a></li>
                  <li><a href="#">对比分析</a></li>
              </ol>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                   		<div class="card" style="width: 900px;">
							<div class="card-content">
						  		<h4><i class="fa fa-bar-chart-o"></i> 创新性结论</h4>
                                <table >
                                    <tr>
                                    <th width="80px">新颖性：</th>
                                    <th width="150px"><progress value="3" max="10"></progress></th>
                                        <th style="color: grey" >新颖性弱</th>
                                    </tr>
                                    <tr>
                                    <th width="80px">创造性：</th>
                                    <th width="150px"><progress value="6" max="10"></progress></th>
                                        <th style="color: grey" >创造性低</th>
                                    </tr>
                                </table>
							</div>

                        </div>
                </div>
            </div>
	        <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="card teal" style="width: 470px">
                        <div class="card-content">
                            <h4><i class="fa fa-retweet white-text"></i><font color="#fff"> 创新性描述</font> </h4>
                            <div id="container0" style="width:430px;height:300px;background-color:#f3f3f3; overflow:auto">
                                <p>一种发送物品信息的方法，其特征在于，所述方法包括：获取储物箱的储物箱信息；<span><font color="red" >根据所述储物箱信息，获取所述储物箱储藏的物品的物品信息</font></span>，<span><font color="orange" >所述物品的物品信息至少包括所述物品的物品描述信息</font></span>；<span><font color="#8a2be2" >发送所述物品的物品信息给用户对应的移动终端。</font></span></p>
                                <p><strong>查看对比报告</strong></p>
                                <p><a href>CN103322765A</a> </p>
                                <p><a href>CN103581433B</a> </p>
                                <p><a href>CN103581433A</a> </p>
                                <p><a href>CN101498539B</a> </p>
                                <p><a href>US20140045433A1</a> </p>
                                <p><a href>CN101498539A</a> </p>
                                <p><a href>TW200707325A</a> </p>
                                <p><a href>CN103280028A</a> </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4" style="padding-left: 170px">
                    <div class="card blue-grey darken-1" style="width: 470px">
                        <div class="card-content ">
                            <h4><i class="fa fa-retweet white-text"></i><font color="#fff"> 对比报告-CN103322765A</font></h4>
                            <div id="container1"style="background-color: #f3f3f3;width:430px;height:300px; overflow:auto">
                                <p><strong>摘要</strong></p>
                                <p>本发明公开了一种具有物品保质信息提示功能的冰箱，包括冰箱本体，还包括：设置于所述冰箱本体上的存储器、采集模块、控制器和显示器；所述存储器，用于存储物品的保质信息；所述采集模块，用于采集物品的保质信息查询请求；<span><font color="red" >所述控制器，用于在所述存储器中查询与所述保质信息查询请求匹配的物品的保质信息</font></span>；<span><font color="#8a2be2" >所述显示器，用于显示与所述保质信息查询请求匹配的物品的保质信息。</font></span>本发明在冰箱上实现物品保质信息的提示功能，便于用户获知各物品的保质期以及物品的保存温度范围等物品保质信息，提高了用户使用的方便性。</p>
                                <p><strong>相似度</strong></p>
                                <p>   新颖性：3</p>
                                <p>   创造性：6</p>
                                <p><strong>结论</strong></p>
                                <p>（1）新颖性</p>
                                <p>由于D1公开了创新性文本的全部技术特征，因此创新性文本不具有新颖性（PCT条约33（2p））。</p>
                                <p> (2)创造性</p>
                                <p>由于创新性文本不具有新颖性（PCT条约33（2p））,因此创新性文本不具有PCT条约第33条（3）所规定的创造性。</p>
                                <p><strong>摘要</strong></p>
                                <p>本发明公开了一种具有物品保质信息提示功能的冰箱，包括冰箱本体，还包括：设置于所述冰箱本体上的存储器、采集模块、控制器和显示器；所述存储器，用于存储物品的保质信息；所述采集模块，用于采集物品的保质信息查询请求；<span><font color="red" >所述控制器，用于在所述存储器中查询与所述保质信息查询请求匹配的物品的保质信息</font></span>；<span><font color="#8a2be2" >所述显示器，用于显示与所述保质信息查询请求匹配的物品的保质信息。</font></span>本发明在冰箱上实现物品保质信息的提示功能，便于用户获知各物品的保质期以及物品的保存温度范围等物品保质信息，提高了用户使用的方便性。</p>
                                <p><strong>权利要求(13)</strong></p>
                                <p>1.一种具有物品保质信息提示功能的冰箱，包括冰箱本体，其特征在于，还包括:设置于所述冰箱本体上的存储器、采集模块、控制器和显示器； 所述存储器，用于存储物品的保质信息； 所述采集模块，用于采集物品的保质信息查询请求； <span><font color="red" >所述控制器包括查询请求匹配模块；所述查询请求匹配模块用于在所述存储器中，查询与所述保质信息查询请求匹配的物品的保质信息</font></span>； <span><font color="#8a2be2" >所述显示器，用于显示与所述保质信息查询请求匹配的物品的保质信息。</font></span></p>
                                <p>2.根据权利要求1所述的具有物品保质信息提示功能的冰箱，其特征在于，<span><font color="orange" >所述保质信息包括:所述物品的保质期和/或保存温度范围。</font></span></p>
                                <p>3.根据权利要求1所述的具有物品保质信息提示功能的冰箱，其特征在于，所述采集模块，还用于采集物品的保质信息更新指示； 所述控制器还包括更新处理模块；所述更新处理模块用于在所述存储器中更新与所述保质信息更新指示相应的物品的保质信息。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group enter" style="padding-left: 900px;">
                    <a href="input1.html">
                        <button   class="run1" >返回</button>
                    </a>
                </div>
            </div>
        </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
	<!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'materialize/js/materialize.min.js' %}"></script>

</body>

</html>
