<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>比对分析报告</title>
</head>
<style type="text/css">
.auto-style1 {
	font-family: 黑体;
	font-size: xx-large;
	text-align: center;
}
.auto-style2 {
	font-size: medium;
	font-family: 宋体;
}
.auto-style3 {
	font-weight: normal;
	font-size: small;
	font-family: 宋体;
}
.auto-style4 {
	font-family: 宋体;
	font-size: small;
}


</style>
<body>
	<div name="page" style="padding-left:250px;padding-right:250px">
	
		<div class="page-wrapper">
			<p class="auto-style1" style="height: 36px"><strong>比对分析报告</strong></p>
		</div>
		
		<div class="page-innner" style="padding-top:50px">
			<div>
				<h1 class="auto-style2"><strong>创新性描述:</strong></h1>
				<div id="inword" name="inword" style="border: 0px; width:1000px; height:200px; overflow:hidden" class="auto-style3">
					<p></p>
				</div>
			</div>
			<div>
				<h2 class="auto-style2">对比文件：<input name="dn" id="dn" style="width: auto;border:none" /></h2>
				<div class="auto-style3" style="height:400px">
				</div>
			</div>
		</div>
		<div style="padding-bottom:100px;text-align:center">
			<span class="auto-style4">
			<a href="page1.html">上一页</a>&nbsp;<a href="#">下一页</a></span>
		</div>


	</div>
</body>

</html>
