{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>专利创新性检索分析系统</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <link href="{% static 'js/datatables/datatables.min.css' %}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
         <nav class="navbar navbar-default top-navbar" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href="index1.html"><i class="large material-icons">insert_chart</i><font size="4">专利创新性分析系统</font></a>
				    <div id="sideNav" class="waves-effect waves-dark" href=""><i class="material-icons dp48">toc</i></div>
          </div>
        </nav>


        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                   <li>
                        <a class=" waves-effect waves-dark" href="index1.html"><i class="fa fa-dashboard"></i> 主页</a>
                    </li>
                    <li>
                        <a href="acquire1.html" class="waves-effect waves-dark"><i class="fa fa-desktop"></i> 专利文件获取</a>
                    </li>
                    <!-- <li><a href="input1.html" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 对比分析 </a></li> -->
                    <li>
                        <a href="#" class="active-menu waves-effect waves-dark"><i class="fa fa-qrcode"></i> 专利对比分析</a>
                    </li>
                </ul>
            </div>
        </nav>
		<!-- /. NAV SIDE  -->

        <div id="page-wrapper" >
			<div class="header">
				<ol class="breadcrumb">
                    <i class="fa fa-home" ></i>
					<li><a href="#">主页</a></li>
					<li><a href="#">查询与导出</a></li>
				</ol> 							
			</div>
		
            <div id="page-inner">

                <div class="row" style="padding: 0 0 0 15px">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><h3 class="panel-title">专利比对分析</h3></div>
                            <div class="panel-body">
                                <div class="panel panel-success">
                                  <div class="panel-heading"><h3 class="panel-title">创新性描述：</h3></div>
                                  <div class="panel-body" style="height:100px">
                                    <textarea id="word" name="word" style="width:100%;height:100%" placeholder="请输入..."></textarea>
                                  </div>
                                </div>

                                <div class="panel panel-success">
                                  <div class="panel-heading"><h3 class="panel-title">对比文件清单：</h3></div>
                                  <div class="panel-body" style="height:100px">
                                    <textarea id="list" name="list" style="width:100%; height:100%; overflow:auto" placeholder="请输入..."></textarea>
                                  </div>
                                </div>
                                <button id="submit" type="submit" class="btn btn-primary" style="width:130px;float:right" onclick="SubmitTask()">建立分析任务</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="card teal" style="width: 400px">
                            <div class="card-content white-text">
                                <h4><i class="fa fa-retweet"></i> 创新性描述</h4>
                                <textarea id="word" name="word" style="width:350px;height:250px;" placeholder="请输入..."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4" style="padding-left: 100px">
                        <div class="card blue-grey darken-1" style="width: 400px">
                            <div class="card-content white-text">
                                <h4><i class="fa fa-bars"></i> 对比文件清单</h4>
                                <textarea id="list" name="list" style="width:350px;height:250px; overflow:auto" placeholder="请输入..."></textarea>
                            </div>
                        </div>
                    </div>
                </div> -->
                

                <div class="row" style="padding: 0 0 0 15px">
                    <div class="col-sm-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><h3 class="panel-title">专利对比分析任务列表</h3></div>
                            <div id="List-body" class="panel-body">
                                <div id="TasksShell" class="col margin" style="margin-top: 15px">
                                  <table id="Tasks" class="display" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
</body>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- Bootstrap Js -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/datatables/datatables.min.js' %}"></script>
<script type="text/javascript">
  
    var List;

    function viewreport(record_id,task){
        var form=$("<form>");//定义一个form表单
        form.attr("style","display:none");
        form.attr("target","");
        form.attr("method","post");
        form.attr("action","/dl_report");
        var input1=$("<input>");
        input1.attr("type","hidden");
        input1.attr("name","record_id");
        input1.attr("value",record_id);
        var input2=$("<input>");
        input2.attr("type","hidden");
        input2.attr("name","task");
        input2.attr("value",task);
        $("body").append(form);//将表单放置在web中
        form.append(input1).append(input2);
        form.submit();
    }

    function SubmitTask()
    {
        var word = $('#word').val();
        var list = $('#list').val();
        $.ajax
        ({
            url:"/work",
            type: 'POST',
            data: {"word":word, "list":list},
            success: function (data) {
                alert(data.msg);
                ShowTasks();
            }
         })
    }

    function ShowTasks(){
        $.ajax({
            url: "/tasks",
            success: function(data){
                var para = {
                id: "Tasks",
                data: data,
                shell: "TasksShell",
                columns: [
                      { data: 0, title: "序号", visible: false},
                      { data: 1, title: "日期", width: "15%", className: "dt-center"},
                      { data: 2, title: "任务状态", width: "15%", className: "dt-center"},
                      { data: 3, title: "创新性描述", className: "dt-left"},
                      { data: 4, title: "报告", width: "10%", className: "dt-center",
                        fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                          if (sData!="") {
                            $(nTd).html("<a onclick=\"viewreport("+oData[0]+",'view')\" target=\"view_window\">查看</a><br><a onclick=\"viewreport("+oData[0]+",'download')\" target=\"view_window\">下载</a>")
                          }
                          else {
                            $(nTd).html("无")
                          }
                        }
                      }
                    ]
                }
                List = initList(List,para);
                // initListListeners("Tasks",List);
            }
        }); 
    }

    $(document).ready(function(){
{#        ShowTasks();#}
    })
        

</script>
</html>
